<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Statistiques LoL</title>
    <!-- Ajoutez votre CSS ici -->
</head>
<body>
    <h1>Statistiques de League of Legends</h1>
    <input type="text" id="summonerName" placeholder="Entrez le nom du joueur">
    <button onclick="redirectTo('stats')">Voir les stats des derniers jeux</button>
    <button onclick="redirectTo('data')">Voir les données détaillées</button>
    <button onclick="redirectTo('last20games')">Voir les 20 derniers jeux</button>
    <button onclick="redirectTo('lastgame')">Voir les 5 derniers jeux</button>
    <script>
        function redirectTo(type) {
            const summonerName = document.getElementById('summonerName').value;
            if (!summonerName) {
                alert('Veuillez entrer le nom d\'un joueur.');
                return;
            }
            let url = '';
            switch(type) {
                case 'stats':
                    url = `/summoner/stats/${summonerName}/`;
                    break;
                case 'data':
                    url = `/summoner/data/${summonerName}/`;
                    break;
                case 'last20games':
                    url = `/summoner/last20games/${summonerName}/`;
                    break;
                case 'lastgame':
                    url = `/summoner/lastgame/${summonerName}/`;
                    break;
                default:
                    return; // Ne fait rien si le type n'est pas reconnu
            }
            window.location.href = url;
        }
    </script>
</body>
</html>